* {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    outline: none;
    border:0ex;
    text-decoration: none;
    text-transform:initial;
    transition: 0.2s linear;
    color: black;
  }

 .header{
    background: no-repeat url("");
    background-color: rgb(225, 203, 131);
    margin-bottom: 25px;
    margin-top: 12px;
  }
  .navBar{
    background:#B1D8B7;
    padding: 1.5rem;
    border-bottom: 1px solid salmon;
    border-top: 1px solid salmon; 
    border-right: 1px;
    margin-left: 2px;
}
.navBar a{
    margin: 1.5em;
    font-style:initial;
    color :black ;
}

main{
    margin-left: 1rem;
    text-align: justify;
    margin-bottom: 10rem;
    width: 70%;
   
    
}

main h3{
    text-align:center;
    padding-top: 3px;
    margin-bottom: 15px;
    color: gold;
   


}
footer{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1rem;
    padding:30px;

    background-color:#B1D8B7 ;

}
span{
color:antiquewhite;
font-weight: bold;
}

input[type=text] {
    width: 50%; 
    padding: 6px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color:#E9EFC0;
    border: 2px solid  #E9D5DA;
    margin-bottom: 20px;
  }
  select {
      background-color: #B1D8B7;
      border: 1px solid #ccc;
      box-sizing: border-box;
      width: 50%; 
      margin-top: 6px;
  }
  .form{
      margin-top: 2rem;
      margin-bottom: 3rem;
      margin-left: 3px;

  }
#cardSection{
    
    border:solid #E9D5DA;
    text-align: center;
    margin-left:200px;
    width: 70%;
    padding: 0cm;
   
}
main p{
 margin-bottom: 30px;
 padding: 0px; 

}



main h6{
    font-size: 15px;
    font-weight: lighter;
    border-bottom: solid #B1D8B7 4px;


}
main img {

    margin-top: 4px;
 
}
.container{
    display:block;

}
#face:hover{

    background-color: lightblue;

}
#insta:hover{

    background-color: lightpink;
    
}
#whats:hover{

    background-color:lightgreen;
    
}